<p-dialog
  [(visible)]="display"
  [modal]="true"
  [closable]="false"
  [draggable]="true"
>
  <!-- mostrar información del personaje: nombre, imagen -->
  <h2>{{ character.name }}</h2>
  <img
    [src]="character | image"
    [alt]="character.name"
  />

  <br />

  <!-- acciones posibles: editar/eliminar personaje y cerrar modal -->
  <input pInputText [(ngModel)]="character.name" (keydown)="onKeydown()"/>
  <br />

  <p-button 
  pRipple
  *ngIf="enableEditButton"
  (click)="editCharacter()">
    Editar
  </p-button>

  <p-button 
  pRipple
  (click)="deleteCharacter()" 
  styleClass="p-button-danger">
    Eliminar
  </p-button>

  <ng-template pTemplate="footer">
    <p-button 
    pRipple
    (click)="closeModal()" 
    styleClass="p-button-danger">
      Cerrar
    </p-button>
  </ng-template>
</p-dialog>
